.custom-button {
    -fx-min-width: 220px;
    -fx-max-width: 220px;
    -fx-pref-width: 220px;

    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-pref-height: 30px;

    -fx-background-color: #ff7600;
    -fx-text-fill: white;
    -fx-font-family: "System Bold";
    -fx-font-size: 14px;
    -fx-background-radius: 5;
}

.custom-button:hover {
    -fx-background-color: #e66900;
    -fx-cursor: hand;
}

.splash-screen {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff7600, #FFFFFF);
}

.progress-bar > .bar {
    -fx-accent: #00ff0c;
    -fx-background-insets: 0;
}

.round-image {
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}

.circular-image {
    /*
     * شعاع گردی را روی یک عدد بسیار بزرگ (بزرگتر از نصف عرض/ارتفاع) تنظیم می‌کنیم
     * تا گوشه‌ها به طور کامل گرد شوند و یک دایره تشکیل دهند.
     * این مقدار برای اکثر اندازه‌ها کار می‌کند.
    */
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

.main-tab-pane .tab {
    -fx-min-height: 20px;
    -fx-pref-height: 20px;
    -fx-max-height: 20px;
    -fx-background-color: #f0f0f0; /* رنگ پس‌زمینه تب غیرفعال */
    -fx-content-display: RIGHT;    /* آیکون را به سمت راست متن می‌برد */
    -fx-graphic-text-gap: 8px;   /* فاصله بین متن و آیکون */
    -fx-padding: 8px 20px;         /* فاصله‌گذاری داخلی برای ظاهر بهتر */
}

/* ۲. استایل برای لیبل (متن) داخل تب غیرفعال */
.main-tab-pane .tab .tab-label {
    -fx-text-fill: black;          /* رنگ متن سیاه */
    -fx-font-weight: bold;
}

/* ۳. استایل برای آیکون داخل تب غیرفعال */
.main-tab-pane .tab .tab-label .ikonli-font-icon {
    -fx-icon-color: #555555;      /* رنگ آیکون خاکستری تیره */
}


/* =================================================================
   استایل‌ها برای تب انتخاب شده (Selected)
   ================================================================= */

/* ۴. استایل برای خود تب وقتی انتخاب شده است */
.main-tab-pane .tab:selected {
    -fx-background-color: #ff7600; /* رنگ اصلی شما برای تب فعال */
}

/* ۵. استایل برای لیبل (متن) داخل تب فعال */
.main-tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;          /* رنگ متن سفید */
}

/* ۶. استایل برای آیکون داخل تب فعال (مهم‌ترین بخش) */
.main-tab-pane .tab:selected .tab-label .ikonli-font-icon {
    -fx-icon-color: white;         /* رنگ آیکون سفید */
}

.empty-state-headline {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Dark grey for text */
}

.empty-state-subtext {
    -fx-font-size: 14px;
    -fx-text-fill: #666666; /* Lighter grey */
    -fx-max-width: 350px;  /* Prevents the text from becoming too wide */
    -fx-text-alignment: center;
}

.error-state-headline {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #d35400;
}


.error-state-subtext {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-max-width: 350px;
    -fx-text-alignment: center;
}