.custom-button {
    -fx-min-width: 220px;
    -fx-max-width: 220px;
    -fx-pref-width: 220px;

    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-pref-height: 30px;

    -fx-background-color: #ff7600;
    -fx-text-fill: white;
    -fx-font-family: "System Bold";
    -fx-font-size: 14px;
    -fx-background-radius: 5;
}

.custom-button:hover {
    -fx-background-color: #e66900;
    -fx-cursor: hand;
}

.splash-screen {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff7600, #FFFFFF);
}

.progress-bar > .bar {
    -fx-accent: #00ff0c;
    -fx-background-insets: 0;
}